CHANGELOG.md               @CloudNationHQ/SG-MDM-GitHub-Azure-Wam-Release
CODEOWNERS         @CloudNationHQ/SG-MDM-GitHub-Azure-Wam-Release

*                           @CloudNationHQ/SG-MDM-GitHub-Azure-Wam
