/CHANGELOG.md               @CloudNationHQ/SG-MDM-GitHub-Azure-Wam-Release
/.github/CODEOWNERS         @CloudNationHQ/SG-MDM-GitHub-Azure-Wam-Release

*                           @CloudNationHQ/SG-MDM-GitHub-Azure-Wam
